extends layout

block title
    title Open Port Checker - net-tools

block content
    h1 Open Port Checker
    label(for='host') Host:
    input(type='text', name='host', id='host')
    label(for='port') Port:
    input(type='text', name='port', id='port')
    input(type='submit', value='Check', id='submit')
    
    ul(id='output')

    script(src='/javascripts/port.js')